div .user-box {
  border-radius: 5px;
  background: linear-gradient(#fff, #f1f1f1);
  height: 70px;
  width: 100%;
  margin-top: 1px;

}

.user-box:hover {
  background: #62CFC1;
}

div #user-list {
  height: 353px;
  overflow-x: hidden;
  overflow-y: scroll;
}

div #chat-with-user {
  height: 353px;
}

div #content-mess-body {
  height: 300px
}


.content-mess:focus {
  border: none;
}


#mess-user {
  height: 70px;
  width: 100%;
}

#delete-user {
  float: right;
  margin-right: 2px;
}
