<div class="container-fluid">
  <div class="row" id="consultant-chat-box">
    <div class="col-lg-3" id="user-list">
      <div *ngFor="let user of listUser" class="user-box">
        <input type="hidden"/>
        <a [routerLink]="['mess', user.roomId]" style="text-decoration: none">
          <div id="mess-user">{{user.name}} <span id="delete-user">X</span></div>
        </a>
      </div>
      <br>
    </div>
    <div class="col-lg-9" id="chat-with-user">
      <div id="content-mess-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
