<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">ĐỔI MẬT KHẨU MỚI</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm">
      <mat-form-field>
        <input matInput placeholder="Mật khẩu hiện tại" [type]="hide ? 'password' : 'text'"
               formControlName="passwordOld" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="changePasswordForm.hasError('required', 'passwordOld')">
          Vui Lòng Nhập Trường Này !
        </mat-error>
        <mat-error *ngIf="changePasswordForm.hasError('pattern','passwordOld')">
          Mật khẩu có ít nhất 8 ký tự ít nhất 1 ký tự viết hoa và số
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nhập mật khẩu mới" [type]="hide ? 'password' : 'text'"
               formControlName="passwordNew" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="changePasswordForm.hasError('required', 'passwordNew')">
          Vui Lòng Nhập Trường Này !
        </mat-error>
        <mat-error *ngIf="changePasswordForm.hasError('pattern','passwordNew')">
          Mật Khẩu Phải ít nhất 8 ký tự ít nhất 1 ký tự in hoa và số
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Xác nhận mật khẩu" [type]="hide ? 'password' : 'text'"
               formControlName="confirmPassword" [errorStateMatcher]="matcher" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="changePasswordForm.hasError('required', 'confirmPassword')">
          Vui Lòng Nhập Trường Này !
        </mat-error>
        <mat-error *ngIf="changePasswordForm.hasError('notSame')">
          Mật khẩu không khớp
        </mat-error>

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nhập Mã Xác Thực" [type]="hide ? 'password' : 'text'" formControlName="tokenCode"
               required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="changePasswordForm.hasError('required','tokenCode')">
          Vui Lòng Nhập ở đây!
        </mat-error>
      </mat-form-field>

      <div class="d-flex justify-content-between">
        <button mat-dialog-close class="button btn">Đóng</button>
        <button [disabled]="changePasswordForm.invalid" (click)="changePassword()" type="submit" class=" button btn">Đổi mật khẩu
        </button>
      </div>
    </form>
  </div>
</div>

