<div class="modal-body">
  <form class="container-fluid col-lg-12 col-md-12 " [formGroup]="formEditUser" (ngSubmit)="editUser()">
    <h3 class="text-center">Chỉnh Sửa Thông Tin</h3>
    <div class="d-flex form-group mt-4">
      <label class="col-lg-3 col-md-3">Họ và tên <span style="color: red">(*)</span>:</label>
      <input type="text" class="col-lg-9 col-md-9 form-control form-control-sm" formControlName="fullName"
             placeholder="Vui lòng nhập họ và tên.">
    </div>
    <div class="col-md-9 offset-md-3 px-0">
      <span style="color: red"
            *ngIf="formEditUser.get('fullName').hasError('required') && formEditUser.get('fullName').touched">Họ và tên không được để trống.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('fullName').hasError('containSpecialCharacters') && formEditUser.get('fullName').touched">Họ và tên không có kí tự đặt biệt.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('fullName').hasError('minlength') && formEditUser.get('fullName').touched">Họ và tên không phải nhiều hơn 10 ký tự.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('fullName').hasError('maxlength') && formEditUser.get('fullName').touched">Họ va tên phải có ít hơn 30 ký tự.</span>
    </div>

    <div class="d-flex form-group mt-4 p-0">
      <label class="col-lg-3 col-md-3">Ngày sinh <span style="color: red">(*)</span>:</label>
      <!--      <input type="date" class="col-lg-9 col-md-9 form-control form-control-sm" formControlName="birthday">-->
      <mat-form-field appearance="outline" class="col-lg-9 col-md-9 p-0">
        <mat-label>Vui lòng chọn ngày sinh</mat-label>
        <input  [max]="maxDate" [min]="minDate" matInput [matDatepicker]="picker" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-9 offset-md-3 px-0">
      <span style="color: red"
            *ngIf="formEditUser.get('birthday').hasError('required') && formEditUser.get('birthday').touched">Ngày sinh không được để trống.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('birthday').hasError('pattern') && formEditUser.get('birthday').touched">Ngày sinh phải là dd/MM/yyyy.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('birthday').hasError('checkAge') && formEditUser.get('birthday').touched">Để đăng kí tài khoản thì bạn phải hơn 18 tuổi.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('birthday').hasError('chooseDateGreaterThanCurrentDate') && formEditUser.get('birthday').touched">Ngày sinh không được lớn hơn ngày hiện tại.</span>
    </div>
    <div class=" d-flex form-group mt-2">
      <label class=" col-lg-3 col-md-3">Địa chỉ<span style="color: red">(*)</span>:</label>
      <textarea type="text" rows="1" class=" col-lg-9 col-md-9 form-control form-control-sm "
                formControlName="address">
      </textarea>
    </div>
    <div class="col-md-9 offset-md-3 px-0">
      <span style="color: red"
                 *ngIf="formEditUser.get('address').hasError('required') && formEditUser.get('address').touched">Địa chỉ không được để trống.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('address').hasError('maxlength') && formEditUser.get('address').touched">Địa chỉ phải ít hơn 255 ký tự.</span>
</div>
    <div class="d-flex form-group mt-4">
      <label class="col-lg-3 col-md-3">Email<span style="color: red">(*)</span>:</label>
      <input type="text" class="col-lg-9 col-md-9 form-control form-control-sm" formControlName="email">
    </div>
    <div class="col-md-9 offset-md-3 px-0">
      <span style="color: red" *ngIf="formEditUser.get('email').hasError('email') && formEditUser.get('email').touched">Email không đúng định dạng</span>
      <span *ngIf="formEditUser.get('email').hasError('required') && formEditUser.get('email').touched"
            style="color: red">Email không được để trống.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('email').hasError('minlength') && formEditUser.get('email').touched">Email không phải nhiều hơn 10 ký tự.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('email').hasError('maxlength') && formEditUser.get('email').touched">Email phải có ít hơn 50 ký tự.</span>
    </div>
    <div class="d-flex form-group mt-4">
      <label class="col-lg-3 col-md-3 ">Giới tính:</label>
      <div class="col-lg-9 col-md-9 d-flex justify-content-start" formControlName="gender">
        <div class="radio 4">
          <input id="radio-1" name="radio" type="radio" [checked]="valueGender === true"
                 (click)="valueGenderClick(true)">
          <label for="radio-1" class="radio-label ml-1">Nam</label>
        </div>
        <div class="radio ml-4 ">
          <input id="radio-2" name="radio" type="radio" [checked]="valueGender === false"
                 (click)="valueGenderClick(false)">
          <label for="radio-2" class="radio-label ml-1">Nữ</label>
        </div>
      </div>
    </div>
    <div class="d-flex form-group mt-4">
      <label class="col-lg-3 col-md-3 ">Điện thoại <span style="color: red">(*)</span>:</label>
      <input type="text" class="col-lg-9 col-md-9 form-control form-control-sm " formControlName="phoneNumber">
    </div>
    <div class="col-md-9 offset-md-3 px-0">
      <span
        *ngIf="formEditUser.get('phoneNumber').hasError('required') && formEditUser.get('phoneNumber').touched"
        style="color: red">Số điện thoại không được để trống.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('phoneNumber').hasError('format') && formEditUser.get('phoneNumber').touched">Số điện thoại không đúng định dạng.</span>
      <span style="color: red"
            *ngIf="formEditUser.get('phoneNumber').hasError('phoneAlpha') && formEditUser.get('phoneNumber').touched">Số điện thoại phải là số.</span>
    </div>
    <div class="d-flex form-group mt-4">
      <label class="col-lg-3 col-md-3 ">Ảnh đại diện</label>
      <input type="file" class="col-lg-9 col-md-9 form-control-sm mr-3">
    </div>
  <div class="modal-footer">
    <button class="btn btn-secondary btn-sm" mat-dialog-close="/">Hủy</button>
    <button type="submit" class="btn btn-warning btn-sm" [disabled]="formEditUser.invalid" (click)="editUser()">Sửa Thông Tin</button>
  </div>
  </form>
</div>
