
.modal-body{
  background-image: url("https://media.istockphoto.com/vectors/abstract-background-textured-grey-and-white-square-pattern-halftone-vector-id840113538?b=1&k=6&m=840113538&s=612x612&w=0&h=XYCoD46JIPnS3GUPvzEcJAm5Na-abTF7PhWhcyxFaSo=");
  background-size: cover;
  background-repeat: no-repeat;
}

