<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">ĐỔI MẬT KHẨU MỚI</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <mat-form-field>
        <input matInput placeholder="Mật khẩu hiện tại" formControlName="passwordOld" required>
        <mat-error *ngIf="changePasswordForm.hasError( 'required')"></mat-error>
      </mat-form-field>
      <hr>
      <mat-form-field>
        <input matInput placeholder="Nhập mật khẩu mới" formControlName="password" required>
        <mat-error *ngIf="changePasswordForm.hasError('required', 'password')"></mat-error>
      </mat-form-field>
      <hr>
      <mat-form-field>
        <input matInput placeholder="Xác nhận mật khẩu" formControlName="confirmPassword" required
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="changePasswordForm.hasError('notSame')">
          Không khớp mật khẩu mới
        </mat-error>
      </mat-form-field>
      <div class="d-flex">
        <button mat-dialog-close class="button btn">Đóng</button>
        <button [disabled]="changePasswordForm.invalid" type="submit" class="btn">Đổi mật khẩu</button>
      </div>
    </form>
  </div>
</div>

