<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">ĐỔI MẬT KHẨU MỚI</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <mat-form-field>
        <input type="password" matInput placeholder="Mật khẩu hiện tại" formControlName="passwordOld" required>
        <mat-error *ngIf="changePasswordForm.controls.passwordOld.errors?.required">Mật khẩu hiện tại không được để
          trống.
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.passwordOld.errors?.pattern">
          Mật khẩu định dạng 8-20 ký tự bao gồm ký tự thường, ký tự viết hoa và số.
        </mat-error>
      </mat-form-field>
      <hr>
      <mat-form-field>
        <input type="password" matInput placeholder="Nhập mật khẩu mới" formControlName="passwordNew" required>
        <mat-error *ngIf="changePasswordForm.hasError('required', 'passwordNew')">
          Mật khấu mới không được để trống.
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.passwordNew.errors?.pattern">
          Mật khẩu định dạng 8-20 ký tự bao gồm ký tự thường, ký tự viết hoa và số.
        </mat-error>
      </mat-form-field>
      <hr>
      <mat-form-field>
        <input type="password" matInput placeholder="Xác nhận mật khẩu" formControlName="confirmPassword" required
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="changePasswordForm.hasError('notSame')">
          Xác thực mật khẩu không chính xác.
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">
          Mật khấu xác nhận không được để trống.
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.pattern">
          Mật khẩu định dạng 8-20 ký tự bao gồm ký tự thường, ký tự viết hoa và số.
        </mat-error>
      </mat-form-field>
      <hr>
      <mat-form-field>
        <input type="text" matInput placeholder="Vào email lấy mã token để xác nhận" formControlName="verificationCode" required>
        <mat-error *ngIf="changePasswordForm.controls.verificationCode.errors?.required">
          Mã token không được để trống.
        </mat-error>
      </mat-form-field>
      <div class="d-flex">
        <button mat-dialog-close class="button btn">Đóng</button>
        <button [disabled]="changePasswordForm.invalid" type="submit" class="btn">
          Đổi mật khẩu
        </button>
      </div>
    </form>
  </div>
</div>
