<div class="container-fluid">
  <div id="footer" class="row">
    <div class="col-3">
      <div class="p-3">
        <h2 class="justify-content-center">LIÊN HỆ</h2>
        <ul class="list-unstyled">
          <li>295 Nguyễn Tất Thành, DN</li>
          <li>0236 6517 021</li>
          <li>c06@airline.com</li>
        </ul>
      </div>
    </div>
    <div class="col-2">
      <div class="p-3">
        <h2 class="justify-content-center">CÔNG TY</h2>
        <ul class="list-unstyled">
          <li>TRANG CHỦ</li>
          <li>CHUYẾN BAY</li>
          <li>KHÁCH SẠN</li>
        </ul>
      </div>
    </div>
    <div class="col-2">
      <div class="p-3">
        <h2 class="justify-content-center">LIÊN KẾT</h2>
        <ul class="list-unstyled">
          <li>BÀI VIẾT</li>
          <li>LIÊN HỆ</li>
          <li>BẢN ĐỒ</li>
        </ul>
      </div>
    </div>
    <div class="col-5">
      <div class="p-3">
        <h2 class="justify-content-center">GIỚI THIỆU</h2>
        <p>Công ty chúng tôi hân hạnh mang đến những trải nghiệm thoải mái và an toàn nhất trong suốt chuyến bay của bạn.
        Chúng tôi tự hào là 1 trong những hãng bay hàng đầu Việt Nam.</p>
      </div>
    </div>
  </div>
</div>
