span{
  margin-left: 15px;
}
.step{
  font-weight: bold;
  cursor: default;
  font-size: 110%;
}
img{
  margin-left: 80px;
}
#circleChartDiv{
  width: 100%;
  height: 250px;
  text-align: center;
}
h1 {
  font-weight: bold;
  text-transform: uppercase;
}
#title{
  text-align: center;
}
 i:hover{
  color: blue;
  cursor: default;
}
#title:hover{
  color: red;
  cursor: default;
}
#attention h3{
  color: red;
  font-weight: bold;
  text-decoration: underline;
  cursor: default;
}
#attention span{
  font-style: italic;
}

