<h1 id="title">Hướng dẫn tạo thống kê</h1>
<br>
<div id="tutorial">
  <span class="step">Bước 1: </span><span>Chọn tất cả các trường có đánh dấu sao.</span><br><br>
  <img src="../../../../assets/img/step1-demo-img.png" height="86" width="264"/><br><br>
  <br>
  <span class="step">Bước 2: </span><span>Chọn ô checkbox nếu bạn muốn bạn muốn so kết quả trong một thời gian khác.</span><br><br>
  <span class="step">Bước 3:</span><span> Bạn sẽ nhận được kết quả :</span><br><br>
  <div id="circleChartDiv">
    <canvas id="circleChart">
    </canvas>
    <i>Circle chart</i>
  </div>
  <br><br>
  <span class="step">Bước 4: </span><span>Click vào nút "In báo cáo" để ghi ra file excel.</span><br><br>
  <img src="../../../../assets/img/step-4-img.png" height="52" width="198"/> <br><br>
</div>
<div id="attention">
  <h3>Lưu ý(*): </h3>
  <span>- Button "Xem kết quả" chỉ sử dụng được khi bạn chọn hết những yêu cầu.</span><br><br>
  <img src="../../../../assets/img/atttention-1.png" height="69" width="202"/><br><br>
  <span>- Hãy chắc chắn rằng ngày kết thúc luôn lớn hơn ngày bắt đầu.</span><br><br>
  <img src="../../../../assets/img/atttention-2.png" height="105" width="300"/><br><br>
  <span>- Chọn thời gian giữa các ngày chính xác, đúng logic. Ví dụ: Một tuần thì khoảng cách giữa ngày bắt đầu và kết thúc không quá 7 ngày.</span><br>
  <img src="../../../../assets/img/atttention-3.png" height="60" width="350"/><br>
  <span>- Thử lại sau nếu nhận được thông báo không kết nối được database.</span>
</div>

<!--<i>Không có kết quả thống kê cho các thông tin đã chọn.Hãy chọn thông tin phù hợp hoặc xem hướng dẫn !</i>-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>



