#body-chat-consultant{
  height: 290px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;

}

.mess-consultant{
  color: blue;
}


.mess-from-user{
  color: red;
}

div #chat-option {
  z-index: 40;
  margin-top: -10px;
  height: 50px;

}

div #input-inline {
  margin-left: 0px;
  margin-top: 23px;
}


#content-chat-cons {
  width: 90vh;
}

.option-icon{
  font-size: 25px;
  color: orange;
  margin-top: 8px;
}

#submit-consultant{
  border: none;
}

#icon-box-consultant {
  z-index: 100;
  width: 100%;
  margin-top: -110px;
  margin-left: -13px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 112px;
}
