<div class="container-fluid" id="mess-consultant">
  <div class="row">
    <div class="col-lg-9" id="body-chat-consultant">
      <div *ngFor="let mess of listMessage">
        <div *ngIf="!mess.isUser" align="right"><span class="mess-consultant">{{mess.content}}</span></div>
        <div *ngIf="mess.isUser" align="left"><span class="mess-from-user">{{mess.content}}</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9" style="background-color: white">
      <div id="chat-option">
        <form (ngSubmit)="sendMess()" [formGroup]="formSendMess">
          <div class="input-group form-inline" id="input-inline">
            <input formControlName="content" class="form-control form-control-lg" type="text"
                   placeholder="Type message ..." id="content-chat-cons">
            <span class="input-group-btn ml-1 mt-1">
              <i class="fas fa-paperclip option-icon"></i>
            </span>
            <span class="input-group-btn ml-1 mt-1">
              <i class="fas fa-kiss-wink-heart option-icon"></i>
            </span>

            <button [disabled]="formSendMess.controls.content.errors?.required" type="submit"
                    class="input-group-btn ml-1 mt-1 option-icon" id="submit-consultant">
              <i class="fas fa-paper-plane icon-option"></i>
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
