<h2 class="text-danger">Bạn có chắc chắn muốn huỷ vé?</h2>
<br>
<p>Bạn có chắc chắn huỷ vé mã số <span class="text-danger">{{ticketCancel.ticketCode}}</span>?</p>
<p>Hành động này <span class="text-danger">KHÔNG THỂ</span> hoàn tác !!!</p>

<br>
<div class="row d-flex justify-content-end">
	<button mat-dialog-close class="btn btn-secondary mr-3" style="width: 20%">Quay lại</button>
	<button (click)="cancelTicket()" class="btn btn-danger mr-3" style="width: 20%">Đồng ý</button>
<!--	csdacvdsvsd-->
</div>
