<div class="row border bg-white border-flight mb-5">
  <div class="pl-5">
    <h2>Chọn vé máy bay đi</h2>
    <p>Danh sách các chuyến bay từ {{departure}} <i
      class="fa fa-fighter-jet"></i> {{arrival}}
    <p>{{dateDeparture | date: "EEEE" | weekdays }} -
      Ngày {{dateDeparture| date: "dd/MM/yyyy"}}</p>
  </div>
  <div class="d-flex pl-5" *ngIf="listOneWayTable !== undefined">
    <button mat-button class="date-button"
            *ngFor="let index of arraysOneWay" (click)="searchOneWayPage(index)">{{index | date: "EEEE"| weekdays}}<br>
    {{index | date: "dd/MM/yyyy"}}</button>
  </div>
  <div *ngIf="listOneWayTable !== undefined">
    <table class="table" id="table1">
      <thead>
      <tr>
        <th>Hãng</th>
        <th>Mã chuyến bay</th>
        <th>Giờ</th>
        <th>Hạng</th>
        <th>Giá VND</th>
        <th>Chi tiết</th>
        <th>Đặt vé</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let oneWay of listOneWayTable">
        <td>{{oneWay.airline}}</td>
        <td>{{oneWay.flightCode}}</td>
        <td>{{oneWay.departureTime}} - {{oneWay.arrivalTime}}</td>
        <td>{{oneWay.type}}</td>
        <td>{{oneWay.price}}</td>
        <td>
          <button mat-button style="background-color: orange" (click)="dialogFlight(oneWay.id)">Chi tiết</button>
        </td>
        <td>
            <mat-radio-button name="flightOne" (click)="flightOne(oneWay.id)"></mat-radio-button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="row border bg-white border-flight" *ngIf="listReturnTable !== undefined">
  <div class="pl-5">
    <h2>Chọn vé máy bay về</h2>
    <p>Danh sách các chuyến bay từ {{arrival}} <i
      class="fa fa-fighter-jet"></i> {{departure}}
    <p>{{dateArrival | date: "EEEE" | weekdays }} -
      Ngày {{dateArrival| date: "dd/MM/yyyy"}}</p>
  </div>
  <div class="d-flex pl-5" *ngIf="listReturnTable !== undefined">
    <button mat-button class="date-button"
            *ngFor="let arrivalReturen of arraysReturn" (click)="searchReturnPage(arrivalReturen)">{{arrivalReturen | date: "EEEE"| weekdays}}<br>
      {{arrivalReturen | date: "dd/MM/yyyy"}}</button>
  </div>
  <div *ngIf="listReturnTable !== undefined">
    <table class="table" id="table2">
      <thead>
      <tr>
        <th>Hãng</th>
        <th>Mã chuyến bay</th>
        <th>Giờ</th>
        <th>Hạng</th>
        <th>Giá VND</th>
        <th>Chi tiết</th>
        <th>Đặt vé</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let return of listReturnTable">
        <td>{{return.airline}}</td>
        <td>{{return.flightCode}}</td>
        <td>{{return.departureTime}} - {{return.arrivalTime}}</td>
        <td>{{return.type}}</td>
        <td>{{return.price}}</td>
        <td>
          <button mat-button style="background-color: orange" (click)="dialogFlight(return.id)">Chi tiết</button>
        </td>
        <td><mat-radio-button name="flightTwo" (click)="flightTwo(return.id)"></mat-radio-button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-5 pr-5 justify-content-end">
  <button mat-button (click)="dialogTicket()">Xác nhận</button>
</div>

