<div class="container-fluid ">
  <div class="row justify-content-between">
    <div class="col-12 mt-4">
      <div class ="row" style="margin-bottom: 20px">
        <h2 style="margin-left: 30px">Danh sách khuyến mãi</h2>
        <button type="button" class="btn btn-success" style="height: 40px; margin-left: 20px" [routerLink]="['/promotion-for-admin']">Quản lý khuyến mãi</button>
        <div class="row" style="margin-left: 350px">
          <div class="col-4">
            <select [(ngModel)]="key" style="height: 40px">
              <option>Chọn Mục Tìm Kiếm</option>
              <option value="flight">Hãng hàng không</option>
              <option value=" ">Số hiệu chuyến bay</option>
            </select>
          </div>
          <div class="col-4">
            <div class="form-group card">
              <input [(ngModel)]="inputSearch"  type="text" class="form-control empty" style="margin-right: -10px" placeholder="Tìm kiếm">
            </div>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-success" (click)="getPromotion()" style="margin-left: -25px">Tìm kiếm</button>
          </div>
        </div>
      </div>
    </div>
    <div class ="row">
      <div class="col-12">
    <thead class="table-light" style="font-size: 25px; font-weight: bold; margin-top: 20px">
    <tr>
      <a style="padding-left: 30px; font-family: 'Book Antiqua';color: #faa61a" [routerLink]="['/mon']">Thứ hai</a>
      <a style="padding-left: 80px; font-family: 'Book Antiqua';color: #faa61a" [routerLink]="['/tues']">Thứ ba</a>
      <a style="padding-left: 100px; font-family: 'Book Antiqua';color: #faa61a" [routerLink]="['/weds']">Thứ tư</a>
      <a style="padding-left: 100px; font-family: 'Book Antiqua';color: #faa61a" [routerLink]="['/thurs']">Thứ năm</a>
      <a style="padding-left: 90px;font-family: 'Book Antiqua';color:  #faa61a" [routerLink]="['/fri']">Thứ sáu</a>
      <a style="padding-left: 130px;font-family: 'Book Antiqua';color:  #faa61a" [routerLink]="['/sat']">Thứ bảy</a>
      <a style="padding-left: 180px;font-family: 'Book Antiqua';color:  #faa61a; width: 350px"
         [routerLink]="['/sun']">Chủ nhật</a>
      <a style="padding-left: 200px;font-family: 'Book Antiqua';color:  #faa61a; width: 50px"
         [routerLink]="['/sun']"></a>
    </tr>
    </thead>
    <table class="table" style="font-size: 20px;">
      <thead class="table-dark" style="font-size: 65%">
<!--      final update-->
      <tr>
<!--        <th scope="col">Chuyến bay</th>-->
        <th scope="col">Hãng hàng không</th>
        <th scope="col">Số hiệu Chuyến bay</th>
        <th scope="col">Ngày Khởi hành</th>
        <th scope="col">Ga Khởi hành</th>
        <th scope="col">Thời gian Khởi hành</th>
        <th scope="col">Ga đến</th>
        <th scope="col">Thời gian đến</th>
        <th scope="col">Giá</th>
        <th scope="col">Đặt vé</th>
      </tr>
      </thead>
      <tbody *ngFor="let promotion of listPromotion|filter:term|paginate: { itemsPerPage: 10, currentPage: p}" style="color: white">
      <tr>
<!--        <td>{{promotion.flight}}</td>-->
        <td>{{promotion.airline}}</td>
        <td>{{promotion.flightNumber}}</td>
        <td>{{promotion.departureDate | date: 'dd/MM/yyyy'}}
        <td>{{promotion.departurePlace}}</td>
        <td>{{promotion.departureTime | date:'HH:mm'}}</td>
        <td>{{promotion.arrivalPlace}}</td>
        <td>{{promotion.arrivalTime | date:'HH:mm'}}</td>
        <td>{{promotion.price}}</td>
        <td style="width: 15%;">
          <button type="button" class="btn btn-warning" style="margin-right: 10px">Đặt vé</button>
        </td>
      </tr>
      </tbody>
    </table>
      </div>
      <div align="center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Trước" nextLabel="Sau"
                             responsive="true"></pagination-controls>
      </div>
</div>




