<!--<div class="row justify-content-center">-->
<!--  <div class="col-lg-12">-->
<!--  <table class="table" id="table1">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Nơi đi</th>-->
<!--      <th>Nơi đến</th>-->
<!--      <th>Ngày đặt</th>-->
<!--      <th>Ngày bay</th>-->
<!--      <th>Giá VND</th>-->
<!--      <th>Tình trạng</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let oneWay of listOneWayTable.content">-->
<!--      <td>{{oneWay.airline}}</td>-->
<!--      <td>{{oneWay.flightCode}}</td>-->
<!--      <td>{{oneWay.departureTime}} - {{oneWay.arrivalTime}}</td>-->
<!--      <td>{{oneWay.type}}</td>-->
<!--      <td>{{oneWay.price}}</td>-->
<!--      <td>-->
<!--        <button mat-button style="background-color: orange" (click)="dialogFlightInformation(oneWay.id)">Chi tiết</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--  <div class="row justify-content-end pr-5">-->
<!--    <nav aria-label="Page navigation example" *ngIf="listOneWayTable.totalPages !== 0">-->
<!--      <ul class="pagination">-->
<!--        <li class="page-item" *ngIf="listOneWayTable.pageable?.pageNumber !== 0"-->
<!--            (click)="searchOneWayPage(undefined,listOneWayTable.pageable?.pageNumber - 1)"><a class="page-link" href="#">Trước</a></li>-->
<!--        <li class="page-item" [ngClass]="page === listOneWayTable.pageable?.pageNumber ? 'active' : ''"-->
<!--            *ngFor="let page of createFor(listOneWayTable.totalPages)"-->
<!--            (click)="searchOneWayPage(undefined,page)"><a class="page-link" href="#">{{page + 1}}</a></li>-->
<!--        <li class="page-item" *ngIf="listOneWayTable.pageable?.pageNumber !== listOneWayTable.totalPages -1"-->
<!--            (click)="searchOneWayPage(undefined,listOneWayTable.pageable?.pageNumber + 1)"><a class="page-link" href="#">Tiếp</a></li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </div>-->
<!--  </div>-->
<!--</div>-->
<h1 style="color: red">12312312312312fhffkl;dlsfjlknsfdlfjskfl;sdjskfnl;sjfdfnslkkfdnmkldsfdnlksfj</h1>
