<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Checkin-Online</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>

  <style>
    .noteStar{
      color: red;
    }
  </style>
</head>
<body>

<div class=" container-fluid ">

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div style="margin-left: 5% ; margin-right: 5%  ">
<!--        <div class="justify-content-md-center" style="height: 150px;width: 100%;background: orange">-->

<!--          <img src="https://www.vietjetair.com/Resources/Images/Web/27102011/logo.png" height="58" width="322"/>-->
<!--          &lt;!&ndash;      <div>&ndash;&gt;-->
<!--          &lt;!&ndash;        <img src="../../ma-khuyen-mai/ma-khuyen-mai/ảnh/bg-footer.png" height="150" width="600"/>&ndash;&gt;-->
<!--          &lt;!&ndash;      </div>&ndash;&gt;-->
<!--        </div>-->
        <br>
        <h2>Hành khách tự làm thủ tục</h2>
        <h3>Tìm kiếm đặt chỗ</h3>


        <div class="box " style="border: 1px solid black; background: aliceblue">
          <div style="margin: 20px; font-size: 20px">
            <div class="row">
              <div class="col-12">
                <h2 style="color: orange">Tự Làm Thủ Tục
                  Chuyến Bay Qua Web Tại Đây</h2>
                <p> Sẵn sàng cho chuyến bay vui vẻ, thoải mái cùng Vietjet .
                  Bạn có thể làm thủ tục bay trực tuyến nhanh chóng , tiện lợi , đơn giản.</p>
                <br>
                <p>1. Thời gian tự làm thủ tục trực tuyến.</p>
                <ul>
                  <li> Đối với chuyến bay nội địa bởi VietjetAir (VJ) xuất phát từ sân bay Nội Bài (HAN), Đà
                    Nẵng (DAD),
                    Tân Sơn Nhất (SGN): Áp dụng từ 24 giờ đến 1 giờ trước giờ khởi hành.
                  </li>
                  <li> Đối với chuyến bay nội địa Thái Lan khai thác bởi Thái Vietjet (VZ) khởi hành từ sân
                    bay
                    Suvamabhumi (BKK).
                    Áp dụng từ 24h đến 2 giờ trước giờ khỏi hành.
                  </li>
                  <li> Chưa áp dụng chuyến bay quốc tế khác</li>
                </ul>
                <br>
              </div>
            </div>
            <div class="col-12">
              <p>2. Lưu ý: Tự làm thủ tục không áp dụng cho các trường hợp sau:</p>
            </div>
            <div class="col-12">
              <ul>
                <li> Hành khách đi cùng em bé hoặc hành khách đang mang thai.</li>
                <li> Hành khách hạn chế khả năng vận động hoặc cần trợ giúp đặc biệt.</li>
                <li> Có hơn 9 khách hàng trong cùng 1 mã đặt chỗ.</li>
                <li> Hành khách có hành lý ký gửi phải đến quầy làm thủ tục gửi hành lý.</li>
                <li> Hành khách cần xuất trình giấy tờ cho nhân viên làm thủ tục (*)</li>
                <li> Hành khách (từ 12 - 16 tuổi) đi một mình (*)</li>

              </ul>
              <p> (*) Áp dụng đối với các chuyến bay nội địa Thái Lan khởi hành từ sân bay Suvarnabhumi
                (BKK)</p>


            </div>
            <br>
            <div class="row">
              <div class="col-3 ">
                <p>Mã đặt chỗ (<span class="noteStar">*</span>):</p>
                <input size="10px">
              </div>
<!--              <div class="col-4 ">-->
<!--                <p>Họ (ví dụ: Nguyen) (<span class="noteStar">*</span>):</p>-->
<!--                <input size="10px" placeholder="Nguyen">-->
<!--              </div>-->
              <div class="col-9">
                <p>Họ và Tên (ví dụ: Nguyen Thi Tien Quoc) (<span class="noteStar">*</span>):</p>
                <input size="50px" placeholder="Nguyen Thi Tien Quoc">
              </div>
            </div>
            <br>
<!--            <div>-->
<!--              <p>Mã xác nhận (<span class="noteStar">*</span>)</p>-->
<!--              <p id="demo" style="background-color: orange;width: 80px;color: black"></p>-->
<!--              <input size="15px"  >-->
<!--            </div>-->
            <br>
            <p>(<span class="noteStar">*</span>): Phần này phải điền thông tin đầy đủ và chính xác </p>
            <br>
            <br>
            <div class="row justify-content-center">
              <button type="button " style="border-radius: 12px" class="btn btn-warning  mr-3 ">Trang chủ</button>
              <button type="button" style="border-radius: 12px" class="btn btn-warning  mr-3">Tìm kiếm đặt chỗ
              </button>
            </div>
            <br>
            <div class="row justify-content-end">
              <table class="table mt-3 table-striped" style="font-size: 12px">
                <thead>

                <tr class="btn-warning">
                  <th>Mã số đặt chỗ</th>
                  <th>Tên hành khách</th>
                  <th>Thông tin chuyến bay</th>
                  <th>Số ghế</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>55201223</td>
                  <td>Nguyễn Thị Tiến Quốc</td>
                  <td>MH370, HN 7:30 HCM 9:30</td>
                  <td>1</td>
                </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-secondary mr-3">Hủy</button>
              <button type="button" class="btn btn-warning mr-3">Đặt chỗ</button>
            </div>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<script>-->
<!--  document.getElementById("demo").innerHTML = Math.round(Math.random() * 100000);-->
<!--</script>-->
</body>
</html>


