<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="accordion mb-2">
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['information']"><span><i class="fa fa-user"></i> Thông tin cá nhân</span></a>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['/list-employee']"><span><i class="fa fa-users"></i> Quản lý nhân viên</span>
              </a>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['report']"><span><i class="fa fa-line-chart"></i> Thống kê</span></a>
<!--              -->
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 mx-auto">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>



