<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="accordion mb-2">
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['information']"><span><i class="fa fa-user"></i>Thông Tin Nhân Viên</span></a>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['#']"><span><i class="fa fa-users"></i>Quản Lý Khách Hàng</span>
              </a>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['#']"><span><i class="fa fa-line-chart"></i> Quản Lý Bán Vé</span></a>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['#']"><span><i class="fa fa-line-chart"></i> Đặt Vé</span></a>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['#']"><span><i class="fa fa-line-chart"></i> Thống Kê</span></a>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 mx-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>





