<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <fieldset class="border">
        <legend style="width: auto" class="ml-3 d-flex justify-content-center">Đặt vé</legend>
        <form action="" class="form-group">
          <div class="row">
            <div class="col-5 pl-4 p-0">
              <mat-form-field>
                <mat-label>Điểm đi</mat-label>
                <input matInput placeholder="Sài Gòn">
              </mat-form-field>
            </div>
            <div class="col-2 d-flex justify-content-start align-items-center">
              <h1>⇄</h1>
            </div>
            <div class="col-5 pl-4 p-0">
              <mat-form-field>
                <mat-label>Điểm đến</mat-label>
                <input matInput placeholder="Đà Nẵng">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-5 pl-4 p-0">
              <mat-form-field>
                <mat-label>Ngày đi</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-2 d-flex justify-content-start align-items-center">
              <h1>⇄</h1>
            </div>
            <div class="col-5 pl-4 p-0">
              <mat-form-field>
                <mat-label>Ngày về</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-3 pl-5 d-flex align-items-center">Người lớn</div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Số lượng</mat-label>
                <mat-select>
                  <mat-option value="1">0</mat-option>
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-5 d-flex align-items-center">(Từ 12 tuổi trở lên)</div>
          </div>
          <div class="row">
            <div class="col-3 pl-5 d-flex align-items-center">Trẻ em</div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Số lượng</mat-label>
                <mat-select>
                  <mat-option value="1">0</mat-option>
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-5 d-flex align-items-center">(Từ 2 đến dưới 12 tuổi)</div>
          </div>
          <div class="row">
            <div class="col-3 pl-5 d-flex align-items-center">Em bé</div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Số lượng</mat-label>
                <mat-select>
                  <mat-option value="1">0</mat-option>
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-5 d-flex align-items-center">(Dưới 2 tuổi)</div>
          </div>
          <div class="row">
            <div class="col-7"></div>
            <div class="col-5"><button>Tìm vé</button></div>
          </div>
        </form>
      </fieldset>
    </div>
    <div class="col-6" style="padding: 0"><img src="https://files.weekendgowhere.sg/package/176/2Z6OdAoel8.jpg" alt="banner" style="width: 100%"></div>
  </div>
</div>
</body>
</html>
