



<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="list-group col-lg-3 col-md-3 border p-0">-->
<!--      <div class="container-fluid px-0 mx-0">-->
<!--        <div class="row px-0">-->
<!--          <div class="list-group col-lg-2 col-md-2 p-0">-->
<!--            <div class="accordion mb-2" id="accordionExample">-->
<!--              <div class="card">-->
<!--                <div class="card-header" id="headingOne">-->
<!--                  <h2 class="mb-0">-->
<!--                    <a href="#">-->
<!--                      <span><i class="fa fa-user"></i> Thông tin cá nhân</span>-->
<!--                    </a>-->
<!--                  </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card">-->
<!--                <div class="card-header" id="headingTwo">-->
<!--                  <h2 class="mb-0">-->
<!--                    <a href="#">-->
<!--                      <span><i class="fa fa-cc-paypal"></i> Thanh toán</span>-->
<!--                    </a>-->
<!--                  </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card">-->
<!--                <div class="card-header" id="headingThree">-->
<!--                  <h2 class="mb-0">-->
<!--                    <a href="#">-->
<!--                      <span><i class="fa fa-search"></i>Tìm kiếm đặt chỗ</span>-->
<!--                    </a>-->
<!--                  </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card">-->
<!--                <div class="card-header" id="headingFour">-->
<!--                  <h2 class="mb-0">-->
<!--                    <a href="#">-->
<!--                      <span><i class="fa fa-history"></i> History</span>-->
<!--                    </a>-->
<!--                  </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card">-->
<!--                <div class="card-header" id="headingFive" >-->
<!--                  <h2 class="mb-0">-->
<!--                    <a href="#">-->
<!--                      <span><i class="fa fa-id-card-o"></i>Đổi mật khẩu</span>-->
<!--                    </a>-->
<!--                  </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--&lt;!&ndash;      <a href="#" class="list-group-item list-group-item-action" [routerLink]="['information']">THÔNG TIN ADMIN</a>&ndash;&gt;-->
<!--&lt;!&ndash;      <a href="#" class="list-group-item list-group-item-action">QUẢN LÝ NHÂN VIÊN</a>&ndash;&gt;-->
<!--&lt;!&ndash;      <a href="#" class="list-group-item list-group-item-action">THỐNG KÊ</a>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="col-lg-9 col-md-9 border pr-0">-->
<!--      <div class="row">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->













<!--&lt;!&ndash;<div class="container-fluid px-0 mx-0">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="row px-0">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="list-group col-lg-2 col-md-2 p-0">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="accordion mb-2" id="accordionExample">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="card-header" id="headingOne">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <span><i class="fa fa-user"></i> Thông tin cá nhân</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="card-header" id="headingTwo">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <span><i class="fa fa-cc-paypal"></i> Thanh toán</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="card-header" id="headingThree">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <span><i class="fa fa-search"></i>Tìm kiếm đặt chỗ</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="card-header" id="headingFour">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <span><i class="fa fa-history"></i> History</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="card-header" id="headingFive" >&ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <span><i class="fa fa-id-card-o"></i>Đổi mật khẩu</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
