form {
  margin: 0 0 0 14%;
}

.smallRow {
  margin-top: 4.5%;
}

h3 {
  color: blue;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

p {
  margin: 0 0 0 0;
}

hr {
  border: 1px solid;
  margin: 4.5% 0 2% 0;
}

h5 {
  margin-top: 2.5%;
}

span {
  color: red;
  font-weight: bold;
}

.back {
  margin: 1.5% 6% 0 29%;
  background-color: grey;
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 7%;
}

.back:hover {
  background-color: blue;
}

.accept {
  margin: 1.5% 0 0 0;
  background-color: orange;
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 7%;
}

.accept:hover {
  background-color: black;
}
