<div class="container-fluid " id="content" >
  <div class="row">
    <div class="col-md-12">
      <p class="navbar-brand" id="brand"><span id="logo"><i class="fa fa-plane" id="iconLogo" >
      </i>C06</span>AIRLINE</p>
    </div>
  </div>
  <div class="row d-flex " style="font-family: 'Helvetica Neue',serif;font-size: 20px;text-align: justify-all">
    <div class="col-md-9">
      <p>Đơn Vị Bán:<span  id="dvb"> CÔNG TY CỖ PHẦN HÀNG KHÔNG C06AIRLINE</span></p>
      <p>Mã Số thuế: <span id="mst"> 123567323</span></p>
      <p>Địa Chỉ: <span id="dc"> 293 Nguyễn Tất Thành, Thành Phố Đà Nẵng</span></p>
    </div>
    <div class="col-md-3 text-right">
      <p>Mẫu Số: <span>{{invoice.formCode}}</span></p>
      <p>Kí Hiệu: <span>{{invoice.invoiceCode}}</span></p>
      <p>Số: <span  id="so">{{'0000' + invoice.id}}</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" id="td">
      <br>
      <br>
      <h1>HÓA ĐƠN TIỀN CƯỚC VẬN CHUYỂN VÀ PHÍ DỊCH VỤ</h1>
      <h2>(COMMERCIAL INVOICE)</h2>
      <h4>Ngày tạo: <span>{{invoice.dateCreated}}</span></h4>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12" id="kh" >
      <p>Tên Khách Hàng: <span id="tenKH" >{{appUser.fullName}}</span></p>
      <p>Số Điện Thoại: <span id="sdt" >{{appUser.phoneNumber}}</span></p>
      <p>Địa chỉ: <span id="dckh" >{{appUser.address}}</span></p>
      <p>Hình Thức Thanh Toán: <span id="tmck"> TMCK</span></p>
      <p>Loại Tiền Tệ: VND &nbsp;&nbsp;&nbsp;&nbsp;<span id="tg" >Tỷ Giá(Exchange rate): 1 </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span id="ngtg">Ngày tỷ giá(Date of ex): {{invoice.dateCreated}}</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table  table-bordered bg-white " id="mytable" *ngIf="ticketList.length !== 0">
        <thead class="thead-light ">
        <tr>
          <th>Số Thứ Tự</th>
          <th>Mã Số Vé</th>
          <th>Chiều Đi</th>
          <th>Chiều Về</th>
          <th>Thành Tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of ticketList">
          <td>{{ticket.id}}</td>
          <td>{{ticket.ticketCode}}</td>
          <td>{{ticket.flightInformation.departure}}</td>
          <td>{{ticket.flightInformation.arrival}}</td>
          <td>{{ticket.invoice.totalMoney}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="rown d-flex justify-content-center" *ngIf="ticketList.length ===0">
      <h3 style="font-family: 'Helvetica Neue',serif; color: orange">Chưa có vé nào được thanh toán</h3>
    </div>
  </div>
</div>
<button *ngIf="ticketList.length !==0" class="btn btn-primary" style="position: relative;left: 1250px" id="btn"
        (click)="generatePDF()">Generate
</button>
