#td {
  color: orange;
  font-family: 'Helvetica Neue', serif;
  font-weight: bold;
}

#nameKH {
  margin: 0px 0px 0px 25px;
}

#khdc {
  margin: 0px 0px 0px 25px;
}

#pnb {
  margin: 0px 0px 0px 25px;
}

#khEmail {
  margin: 0px 0px 0px 25px;
}

#pt {
  position: relative;
  left: 200px;
}

.fontuser {
  position: relative;
  margin: 10px;
  height: 45px;
}

.fontuser i {
  position: absolute;
  left: 15px;
  top: 10px;
  color: orange;
}

#add {
  color: white;
  font-weight: bold;
  position: relative;
  text-align: justify-all;
  left: 25px;
  background-color: #FAA61A;
  width: 190px;
  height: 40px;
  border: none;

}

#add:hover {
  background-color: black;
}

#yes {
  width: 80px;
  color: white;
  background-color: #FAA61A;
  border: none;
}

#yes:hover {
  background-color: black;
}

#no {
  color: white;
}

#iconAdd {
  position: absolute;
  left: 20px;

}

#note {
  color: red;
}

@media only screen and (min-width: 375px) {
  [class*="col-"] {
    width: 100%;
  }
}
