<div class="backGround">
  <div class="row mt-5">
    <div class="col-12 ml-5">
      <div class="row">
        <div class="col-12 pl-5">
          <h2>Chọn vé tàu đi</h2>
          <p>Danh sách các chuyến bay từ {{departure}} - {{arrival}}
          <p>{{dateDeparture | date: "EEEE" | weekdays }} -
            Ngày {{dateDeparture| date: "dd/MM/yyyy"}}</p>
        </div>
        <div class="d-flex pl-5" *ngIf="listTicketDepEmpty !== undefined">
          <button mat-button class="date-button" *ngFor="let index of arrayOneWay" (click)="searchOneWayPage(index, 1)">
            {{index | date: "EEEE"| weekdays}}<br>
            {{index | date: "dd/MM/yyyy"}}</button>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <div style="background-color:#f7f5f2 ">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Hãng</th>
                <th>Mã chuyến bay</th>
                <th>Giờ</th>
                <th>Giá VND</th>
                <th>Chọn vé</th>
              </tr>
              </thead>
              <tbody
                *ngFor="let ticketEmpty of listTicketDepEmpty|filter:term|paginate: { itemsPerPage: 5, currentPage: p}">
              <tr>
                <td>{{ticketEmpty.flightInformation.airline}}</td>
                <td>{{ticketEmpty.flightInformation.flightCode}}</td>
                <td>{{ticketEmpty.flightInformation.departureTime}}</td>
                <td>{{ticketEmpty.flightInformation.price}}</td>
                <td><input type="radio" value="{{ticketEmpty.id}}" name="one-way" [(ngModel)]="oneWay"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="col-12 ml-5" *ngIf="listTicketEmpty !== undefined">
      <div class="row">
        <div class="col-12 pl-5">
          <h2>Chọn vé tàu về</h2>
          <p>Danh sách các chuyến bay từ {{arrival}} - {{departure}}
          <p>{{dateArrival | date: "EEEE" | weekdays }} -
            Ngày {{dateArrival| date: "dd/MM/yyyy"}}</p>
        </div>
        <div class="d-flex pl-5" *ngIf="listTicketEmpty !== undefined">
          <button mat-button class="date-button"
                  *ngFor="let index of arrayTowWay"
                  (click)="searchOneWayPage(index, 2)">{{index | date: "MM/dd/yyyy"| weekdays}}
            <br>
            {{index | date: "dd/MM/yyyy"}}</button>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <div style="background-color:#f7f5f2" *ngIf="listTicketEmpty !== undefined">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Hãng</th>
                <th>Mã chuyến bay</th>
                <th>Giờ</th>
                <th>Giá VND</th>
                <th>Chọn vé</th>
              </tr>
              </thead>
              <tbody
                *ngFor="let ticketEmpty of listTicketEmpty|filter:term|paginate: { itemsPerPage: 5, currentPage: p}">
              <tr>
                <td>{{ticketEmpty.flightInformation.airline}}</td>
                <td>{{ticketEmpty.flightInformation.flightCode}}</td>
                <td>{{ticketEmpty.flightInformation.departureTime}}</td>
                <td>{{ticketEmpty.flightInformation.price}}</td>
                <td><input type="radio" value="{{ticketEmpty.id}}" name="tow-way" [(ngModel)]="towWay"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <button class="btn bg-warning text-white" style="width: 150px" type="submit" (click)="bookingTicket(oneWay, towWay)"> Đặt vé</button>
  </div>
</div>
