<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="accordion mb-2">
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0 active">
              <a [routerLink]="['/informationUser/detailUser']"><span><i class="fa fa-user"></i> Thông tin cá nhân</span></a>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['#']"><span><i class="fa fa-users"></i>Thanh toán</span>
              </a>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['#']"><span><i class="fa fa-search"></i>Tìm kiếm đặt vé</span></a>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a [routerLink]="['#']"><span><i class="fa fa-history"></i>Lịch sử giao dịch</span></a>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <a (click)="openDialogChangePassword()"><span><i class="fa fa-id-card-o"></i>Đổi mật khẩu</span></a>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 mx-auto">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
