<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="row border" style="border-radius: 20px;">
        <div class="col-6">
          <div>
            <div class="d-flex justify-content-center">
              <h1>Đăng nhập</h1>
            </div>
            <form action="">
              <div class="row">
                <div class="col-6 d-flex pl-5">Email</div>
                <div class="col-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-6 d-flex pl-5">Mật khẩu</div>
                <div class="col-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                  <button>Đăng nhập</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-6">
          <img style="width: 100%" src="https://media.self.com/photos/5f0885ffef7a10ffa6640daa/4:3/w_2560%2Cc_limit/travel_plane_corona.jpeg" alt="">
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
</body>
</html>
