<div class="container-fluid">
  <div class="row">
    <form>
      <h3 style="color: red">Xác Nhận !</h3>
      <hr>
      <h5>Bạn có chắc chắn muốn xóa vé có thông tin :</h5>
      <h5>Mã đặt chỗ : <span>SPJ51595</span></h5>
      <h5>Chuyến bay :<span> Đà Nẵng - Sài Gòn</span></h5>
      <h5>Ngày đi : <span>15/12/2020</span></h5>
      <hr>
      <p style="color: red">Lưu ý : Hành động này không thể hoàn tác !</p>
      <div class="row">
<!--        <button mat-dialog-close class="back">Hủy</button>-->
        <button class="accept" (click)="delete()">Xác Nhận</button>
      </div>
    </form>
  </div>
</div>
