h2{
  color: black;
}
table{
  color: black;
}
pagination-controls {
  color: black;
}
.container-fluid{
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
td{
  text-align: center;
}
th{
  text-align: center;
}
