<main>
  <div class="main-content">
    <br>
    <div class="container-fluid">
      <h2>QUẢN LÝ LIÊN HỆ CỦA KHÁCH HÀNG</h2>
      <br>
      <div class="row col-sm-8 col-xl-8 d-flex justify-content-end">
        <div class="form-group row col-sm-5 col-xl-5 p-0">
          <span class="col-sm-6 col-xl-6 justify-content-start"> Tìm kiếm theo </span>
          <select class="col-sm-6 col-xl-6 form-control form-control-sm rounded" #key>
            <option selected disabled value="">Chọn...</option>
            <option value="senderName">Tên người gửi</option>
            <option value="sendDate">Ngày gửi</option>
            <option  value="processStatus">Trạng thái</option>
          </select>
        </div>
        <div class="col-sm-6 col-xl-6 d-flex justify-content-center form-inline mx-2 m-0 p-0">
          <input type="text" class="form-control form-control-sm rounded mx-2 "
                 #idSearch placeholder="Nhập từ khóa tìm kiếm">
          <button type="submit" class="search btn btn-success btn-sm mx-2"
                  (click)="searchFeedback(key.value, idSearch.value)" style="width: 60px" >
            Tìm</button>
        </div>
      </div>
      <br><br>
      <h4>Tổng các liên hệ chưa được xử lý: {{unprocessedStatusAmount}}</h4>
      <table class="table table-hover">
        <thead class="table-primary">
        <tr>
          <th>STT</th>
          <th>Tên khách hàng</th>
          <th>Email</th>
          <th>Chủ đề</th>
          <th>Nội dung</th>
          <th>Ngày liên hệ</th>
          <th>Trạng thái xử lý</th>
          <th>Khác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let feedback of feedbackList | filter:term | paginate: { itemsPerPage: 3, currentPage: p }">
          <td>{{feedback.id}}</td>
          <td>{{feedback.senderName}}</td>
          <td>{{feedback.senderEmail}}</td>
          <td>{{feedback.title}}</td>
          <td>{{feedback.content}}</td>
          <td>{{feedback.sendDate | date : 'dd/MM/yyyy'}}</td>
          <td [class]="setColorFieldStatusOfProcessStatus(feedback.processStatus)">{{feedback.processStatus ? "Đã xử lý" :  "Chưa xử lý"}}</td>
          <td>
            <button class="btn btn-primary" (click)="openFeedbackDialog(feedback)">Xem</button>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p= $event"></pagination-controls>
    </div>
  </div>
</main>
