<div class="row">
  <div class="col-lg-3">
    <div class="accordion mb-2" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <a href="#">
              <span><i class="fa fa-user"></i> Thông tin cá nhân</span>
            </a>
          </h2>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <a href="#">
              <span><i class="fa fa-cc-paypal"></i> Thanh toán</span>
            </a>
          </h2>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <a href="#">
              <span><i class="fa fa-search"></i>Tìm kiếm đặt chỗ</span>
            </a>
          </h2>
        </div>
      </div>


      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <a href="http://localhost:4200/list-pending-ticket/history">
              <span><i class="fa fa-history" (click)="abc()"></i> History</span>
            </a>
          </h2>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <a href="#">
              <span><i class="fa fa-id-card-o"></i> Đổi mật khẩu</span>
            </a>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <router-outlet></router-outlet>
  </div>
</div>


