<div class="container-fluid">
  <div class="row">
    <table class="table mt-3 table-striped table-bordered">
      <thead>
      <tr>
        <th>STT</th>
        <th>Mã vé</th>
        <th>Giá đi</th>
        <th>Giá về</th>
        <th>Hãng bay</th>
        <th>Chức năng</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let element of ticketList">
        <td>{{element.id}}</td>
        <td>{{element.ticketCode}}</td>
        <td>{{element.priceDeparture}}</td>
        <td>{{element.priceArrival}}</td>
        <td>{{element.flightInformation.airline}}</td>
        <td style="width: 135px">

<!--          <span (click)="openDialogEdit(element.id)">-->
<!--            <span class="material-icons" style="color: darkviolet">create</span></span>-->

<!--          <span class="material-icons icon-image-preview" style="color: red; margin-left: 3%"-->
<!--                (click)="openDialogDelete(element.id)">delete</span>-->

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
