<!--<h3 class="font-weight-bold  form-text m-0 p-0 text-success d-flex justify-content-center" >Xác nhận</h3>-->
<a class="text-success" style="margin-left: 40%"><span><i style="font-size: 90px"  class="fa fa-check"></i></span> </a>
<hr class="border-dark">
<div>
  <h4> Đổi mật khẩu thành công. Vui lòng đăng nhập lại để tiếp tục sử dụng dịch vụ!</h4>
</div>
<div class="row d-flex justify-content-end mt-5">
  <button mat-dialog-close class="btn btn-secondary mr-4 btn-sm" style="width: 80px;margin-left: 90px">Đóng</button>
</div>
