<div class="search-form ">
<!--	<form action="" [formGroup]="formEmployee">-->
<!--		<h2>TÌM KIẾM ĐẶT CHỖ</h2>-->
<!--		<div class="d-flex justify-content-center">-->
<!--			<mat-form-field appearance="fill">-->
<!--				<mat-label>Name</mat-label>-->
<!--				<input matInput formControlName="name">-->
<!--				<mat-error-->
<!--					*ngIf="formEmployee.get('name').errors?.required && formEmployee.get('name').touched"-->
<!--					class="text-danger">-->
<!--					Please do not leave blank-->
<!--				</mat-error>-->
<!--			</mat-form-field>-->
<!--		</div>-->
<!--	</form>-->
	


</div>
