h2{
  color: black;
}
table{
  color: black;
}
pagination-controls {
  color: black;
}
.container{
  background-image: url("https://wallpaperset.com/w/full/7/a/b/70196.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
