#title{
  text-align: center;
  background: #faa61a;
  color: white;
  cursor: default;
  width: 100%;
}
#title:hover{
  cursor: default;
}
#body_bao_cao h3:hover{
  cursor: default;
}
#body_bao_cao{
  border: #e6e7e8 1px solid;
}

#body_bao_cao label{
 margin-left: 30%;
}
#body_bao_cao i{
  margin-left: 28%;
}

#body_bao_cao h3{
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

#body_bao_cao p{
  color: #808285;
  line-height: 0.5em;
  font-size: 14px;
}
#body_bao_cao i:hover{
  color: blue;
  cursor: default;
}
#body_bao_cao label:hover{
  color: blue;
  cursor: default;
}
#checkbox{
  position: relative;
  top: 5px;
  left: 15px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.btn-orange {
  background: #faa61a;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;
  border: 0px;
  font-size: 14px;
  width: 175px;
  height: 50px;
  position: relative;
  left: 41%;
}

.btn-orange:hover{
  background:black;
  color: white;
}
.btn-orange:disabled{
  background-color: #FFD058;
  color: white;
}
table{
  margin-left: 12%;
}
td{
  width: 300px;
}
#demo {
  margin-left: 41.5%;
  text-decoration: underline;
  font-style: italic;
}
#demo:hover{
  color: green;
  cursor: alias;
}

