/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
body {
  background-image: url("https://wallpaperset.com/w/full/7/a/b/70196.jpg");
  background-repeat: unset;
  background-size: 100% 100%;
}
