<!--<div class="container-fluid d-flex justify-content-center ">-->
<!--  <form class="mt-2 form-inline " [formGroup]="formChangePassword">-->
<!--    <div class="container-fluid col-lg-8 col-md-8">-->
<!--      <h3 class="text-center">Đổi mật khẩu</h3>-->
<!--      <div class="form-group mt-3">-->
<!--        <label class="col-lg-5 col-md-5 d-flex justify-content-start">Mật khẩu hiện tại <span-->
<!--          style="color: red">(*)</span>:</label>-->
<!--        <input type="password" class="col-lg-7 col-md-7  form-control form-control-sm " formControlName="oldPassword">-->
<!--      </div>-->
<!--      <div class="form-group mt-3">-->
<!--        <label class="col-lg-5 col-md-5 d-flex justify-content-start">Nhập mật khẩu mới<span-->
<!--          style="color: red">(*)</span>:</label>-->
<!--        <input type="password" class="col-lg-7 col-md-7 form-control form-control-sm " formControlName="newPassword">-->
<!--      </div>-->
<!--      <div class="form-group mt-3">-->
<!--        <label class="col-lg-5 col-md-5 d-flex justify-content-start">Xác nhận mật khẩu<span-->
<!--          style="color: red">(*)</span>:</label>-->
<!--        <input type="password" class="col-lg-7 col-md-7 form-control form-control-sm " formControlName="confirmPassword">-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-end mt-3">-->
<!--        <button type="button" role="button" class="btn btn-warning btn-sm" (click)="changePass()">Đổi mật khẩu</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">ĐỔI MẬT KHẨU MỚI</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="formChangePassword" >
      <mat-form-field>
        <input matInput placeholder="Mật khẩu hiện tại" formControlName="oldPassword">
      </mat-form-field>
      <hr>
      <mat-form-field>
        <input matInput placeholder="Nhập mật khẩu mới" formControlName="newPassword">

      </mat-form-field>
      <hr>
      <mat-form-field>
        <input matInput placeholder="Xác nhận mật khẩu" formControlName="confirmPassword">
      </mat-form-field>
      <div class="modal-footer">
        <button mat-dialog-close class="button" value="Đóng">Đóng</button>
        <button type="submit" class="button btn" value="Đổi mật khẩu" (click)="changePass()">Đổi mật khẩu</button>
        <!--    <input [disabled]="changePasswordForm.invalid" type="submit" class="button btn" value="Đổi mật khẩu">-->
      </div>
    </form>
  </div>
</div>
