<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">ĐỔI MẬT KHẨU MỚI</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="formChangePassword">
      <mat-form-field>
        <input type="password"  matInput placeholder="Mật khẩu hiện tại" formControlName="oldPassword">
      </mat-form-field>
      <div>
        <span style="color: red" *ngIf="formChangePassword.get('oldPassword').hasError('required') && formChangePassword.get('oldPassword').touched">Mật khẩu hiện tại không được để trống.</span>
        <span style="color: red" *ngIf="formChangePassword.get('oldPassword').hasError('pattern') && formChangePassword.get('oldPassword').touched">Mật khẩu hiện tại phải từ 8-20 ký tự, ít nhất ký tự thường, phải có ký tự viết hoa, ký tự số.</span>
        <span style="color: red" *ngIf="errorMessage">Mật khẩu hiện tại không đúng.</span>
      </div>
      <mat-form-field>
        <input type="password"  matInput placeholder="Nhập mật khẩu mới" formControlName="newPassword">
      </mat-form-field>
      <div>
        <span style="color: red" *ngIf="formChangePassword.get('newPassword').hasError('required') && formChangePassword.get('newPassword').touched">Mật khẩu mới không được để trống.</span>
        <span style="color: red" *ngIf="formChangePassword.get('newPassword').hasError('pattern') && formChangePassword.get('newPassword').touched">Mật khẩu mới phải từ 8-20 ký tự, phải có ký tự viết hoa, ký tự số.</span>
      </div>

      <mat-form-field>
        <input type="password"  matInput placeholder="Xác nhận mật khẩu" formControlName="confirmPassword">
      </mat-form-field>
      <div>
        <span style="color: red" *ngIf="formChangePassword.get('confirmPassword').hasError('required') && formChangePassword.get('confirmPassword').touched">Mật khẩu xác nhận không được để trống.</span>
        <span style="color: red" *ngIf="formChangePassword.getError('passwordNotMatch') && formChangePassword.get('confirmPassword').touched">
        Xác nhận mật khẩu không đúng hoặc trùng với mật khẩu hiện tại.</span>
      </div>
      <div class="mt-4 d-flex " style="margin-left: 60%">
        <button class=" btn-secondary mr-4" mat-dialog-close type="button" style="width: 80px">Đóng</button>
        <button class=" btn-warning  btn-sm " type="submit" (click)="changePass()">Đổi mật khẩu</button>
      </div>
    </form>
  </div>
</div>








