<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">ĐỔI MẬT KHẨU MỚI</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="formChangePassword" >
      <mat-form-field>
        <input matInput placeholder="Mật khẩu hiện tại" formControlName="oldPassword">
      </mat-form-field>
      <div>
        <span *ngIf= "formChangePassword.get('oldPassword').hasError('required') && formChangePassword.get('oldPassword').touched" >Mật khẩu hiện tại không được để trống.</span>
        <span *ngIf= "formChangePassword.get('oldPassword').hasError('pattern') && formChangePassword.get('oldPassword').touched" >Mật khẩu hiện tại phải từ 8-20 ký tự, phải có ký tự viết hoa, ký tự số</span>
      </div>
      <hr>
      <mat-form-field>
        <input matInput placeholder="Nhập mật khẩu mới" formControlName="newPassword">
      </mat-form-field>
      <div>
        <span *ngIf= "formChangePassword.get('newPassword').hasError('required') && formChangePassword.get('newPassword').touched" >Mật khẩu mới không được để trống.</span>
        <span *ngIf= "formChangePassword.get('newPassword').hasError('pattern') && formChangePassword.get('newPassword').touched" >Mật khẩu mới phải từ 8-20 ký tự, phải có ký tự viết hoa, ký tự số</span>
        <span *ngIf= "formChangePassword.get('newPassword').hasError('checkPassword') && formChangePassword.get('newPassword').touched" >Mật khẩu mới không được trùng với mật khẩu hiện tại.</span>
      </div>
      <hr>
      <mat-form-field>
        <input matInput placeholder="Xác nhận mật khẩu" formControlName="confirmPassword">
      </mat-form-field>
      <div>
        <span *ngIf="formChangePassword.getError('checkPassword') && formChangePassword.get('confirmPassword').touched">
        Xác nhận mật khẩu không đúng hoặc trùng với mật khẩu hiện tại.</span>
      </div>
      <div class="modal-footer">
        <button mat-dialog-close class="button" value="Đóng">Đóng</button>
        <button type="submit" class="button btn" value="Đổi mật khẩu" (click)="changePass()">Đổi mật khẩu</button>
        <!--    <input [disabled]="changePasswordForm.invalid" type="submit" class="button btn" value="Đổi mật khẩu">-->
      </div>
    </form>
  </div>
</div>
